/* 
RESET 
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
TYPOGRAPHY 
*/

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 28px;
}

h2 {
    font-size: 40px;
    line-height: normal;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    color: #7289da;
}

/* 
COMMON 
*/

.logo img {
    width: 50%;
    min-width: 100px;
    vertical-align: middle;
}

.logo,
.login {
    width: 20%;
}

.button {
    border-radius: 50px;
    padding: 8px 10px;
    background-color: white;
    line-height: normal;
    color: black;
    text-decoration: none;
}

.menu,
.top-footer-container,
.footer-bar,
.head-bar {
    display: flex;
    margin: auto;
    width: 75%;
}

.menu-footer {
    width: 17.5%;
}

.section:nth-child(even) {
    background-color: #f6f6f6;
}

.logo-footer,
button {
    padding: 4px;
}

.jumbo-frame .button,
.section.d .menu .button {
    padding: 12px 15px;
    margin: 10px;
}

.button.download::before {
    content: "\1F827";
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.menu-footer ul li:first-child {
    color: #7289da;
    font-weight: bold;
}

/* 
HEADER 
*/

header {
    color: white;
    background-color: #255ee9;
}

.head-bar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
}

.login .button {
    color: black;
}

.login {
    text-align: end;
}

.link {
    flex-grow: 1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 50%;
    min-width: 300px;
}

.link a {
    text-decoration: none;
    color: white;
}

.jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 40px 0;
}

.jumbo-frame {
    padding: 30px 0 50px;
    max-width: 46%;
    margin: auto;
    text-align: center;
    min-width: 500px;
}

.jumbo-frame .button.browser {
    background-color: #23272a;
    color: white;
}

/* 
MAIN 
*/

main {
    margin-top: 40px;
}

.section.c #curve {
    transform: scaleY(-1);
}

#curve:nth-child(odd) {
    background-color: white;
}

#curve path:nth-child(odd) {
    fill: #f6f6f6;
}


.col.a {
    width: 60%;
}

main img {
    max-width: 100%;
}

.col.b {
    width: 32%;
}

.menu {
    justify-content: space-between;
    padding: 40px 0;
}

.section.d .menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section.d .menu p {
    width: 80%;
    margin-top: -5px;
}

.section.d span {
    font-weight: bold;
    font-size: 22px;
    padding-top: 40px;
}

.section.d .button-container {
    padding-top: 50px;
    padding-bottom: 90px;
}

.section.d .button.download,
.footer-bar .button.signup {
    background-color: #7289da;
    color: white;
}

.section.d .menu span {
    width: 50%;
    background-image: linear-gradient(to bottom, rgba(246, 246, 246, 0) 1%,
            rgba(246, 246, 246, 1)), url(../img/stars.svg);
    background-size: auto;
}

/* 
FOOTER 
*/

footer {
    background-color: #23272a;
    color: white;
    border-bottom: 1px solid #e3e4e4;
}

.top-footer {
    padding-top: 8px;
}

.top-footer-container {
    border-bottom: 1px solid #7289da;
    padding-bottom: 20px;
}

.main-menu-footer {
    width: 30%;
}

.main-menu-footer .selection::after {
    content: '\2B9F';
    margin-left: 5px;
}

.main-menu-footer h4 {
    margin-bottom: 0;
}

.language {
    margin-top: 8px;
}

.selection {
    font-size: 12px;

}

.language img {
    width: 18px;
    vertical-align: middle;
}

.icons i {
    padding: 12px 14px 0 0px;
    font-size: 16px;
}

.side-footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.menu-footer {
    padding-top: 10px;
}

.menu-footer ul li {
    list-style: none;
    font-size: 12px;
}

.bottom-footer {
    border-bottom: 1px solid #d7d7d8;
    padding-bottom: 0px;
}

.footer-bar {
    justify-content: space-between;
    align-items: center;
    padding: 14px 0 40px;
}

.footer-bar .button.signup {
    font-size: 12px;
}