/* 
RESET 
*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
DEBUG HEADER 
*/

/* 
DEBUG MAIN 
*/



.debug .section-a,
.debug .section-c {
    background-color: white;
}

.debug .section-b,
.debug .section-d {
    background-color: #d3d3d3;
}

.debug .col {
    height: 450px;
}

.debug .col.a {
    background-color: #1e90ff;
}

.debug .col.b {
    background-color: #ffc0cb;

}

.debug .section.d .menu {
    background-color: #228b22;
    height: 900px;
}

/* 
DEBUG FOOTER 
*/



.debug footer {
    background-color: #23272a;
}

.debug .main-menu-footer {
    background-color: #f08080;
    height: 550px;
}

.debug .menu-footer {
    background-color: #20b2aa;
    height: 550px;
}


.debug .footer-bar {
    background-color: #7fffd4;
    height: 50px;
}

.debug .logo-footer,
.debug button {
    background-color: #ffb8c3;
}


/* 
COMMON 
*/

.flex {
    display: flex;
}


.logo,
.login {
    width: 20%;
}

.button {
    border-radius: 50px;
    padding: 8px 10px;
    background-color: white;
    line-height: normal;
    color: black;
}


.news,
.section.d,
.top-footer,
.bottom-footer {
    padding: 40px 0px;
}

.menu,
.top-footer-container,
.footer-bar,
.head-bar {
    display: flex;
    margin: auto;
    width: 75%;
}

.menu-footer {
    width: 17.5%;
}

.section:nth-child(even) {
    background-color: #f6f6f6;
}

.col.a {
    width: 60%;
}

.col.b {
    width: 40%;
}

.logo-footer,
button {
    padding: 4px;
}

/* 
TYPOGRAPHY 
*/

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 28px;
}

h2 {
    font-size: 40px;
}

/* 
HEADER 
*/

header {
    color: white;
    background-color: #255ee9;

}

.logo img {
    width: 50%;
}

.head-bar {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 12px;
}

.login .button {
    color: black;
}

.login {
    justify-content: end;
}


.link {
    flex-grow: 1;
    text-align: center;
    justify-content: space-between;
    max-width: 50%;

}

.link a {
    text-decoration: none;
    color: white;
}

.news {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 40px 0;
}

.news-frame {
    padding-top: 70px;
    padding-bottom: 35px;
    width: 53%;
    margin: auto;
    text-align: center;

}

.news-frame .button {
    padding: 12px 15px;
    margin: 10px;
}

.news-frame .button.download::before {
    content: "\1F827";
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.news-frame .button.browser {
    background-color: #23272a;
    color: white;
}


/* 
MAIN 
*/

.section {
    padding: 40px 0;
}


/* 
FOOTER 
*/

.top-footer {
    padding-top: 8px;
    border-bottom: 3px solid #d7d7d8;
}

.main-menu-footer {
    width: 30%;
}

.bottom-footer {
    border-bottom: 1px solid #d7d7d8;
    padding-bottom: 0px;
}

.footer-bar {
    justify-content: space-between;
    align-items: center;
}